.uploadform-page {
    /* padding-top: 100px; */
    height: 900px;
    /* background-image: url("https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero.jpg"); */
    display: flex;
    justify-content: center;
    position: relative;
}

.uploadform-page img {
    height: 100%;
    width: 100%;
    object-fit: cover;

}
.actual-form, .second-page-form{
    position: absolute;
    top: 25%;
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    background-color: white;
    width:750px;
    height: 400px;

    display: flex;
    flex-direction: column;
    /* text-align: center; */
    align-items: center;
    border-radius: 3px;
    border: .01px solid lightgray;

}

.inner-form {
    /* background-color: teal; */
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.second-inner-form {
    /* background-color: teal; */
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
}

.file-input {
    background-color: burlywood;
    opacity: 0.001;
     height: 100%;
     cursor: pointer;
     width: 100%;
     position: absolute;
    top: 0;
    left: 0;
    /* transform: translate(-50%, -50%); */
}

.form-header {
    background-color: #FE5000;
    border-radius: 3px;
    /* position: absolute; */
    padding: 15px;
    /* width: 250px; */
    color: white;
    /* position: absolute; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
}


.additional-info {
    /* background-color: red; */
    width: 60%;
    margin: 15px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    font-size: 13px;
}

.additional-info input, .additional-info textarea {
    box-sizing: border-box;
    width: 100%;
    margin: 10px 0;
    border-radius: 3px;
    border: .5px solid lightgray;
    padding: 5px;
    resize:vertical;

}

.additional-info select{
    width: 45%;
    /* height:100px; */
    padding: 5px 5px;
    border: .5px solid lightgray;
    border-radius: 3px;

}

.upload-track-button {
    width: 100%;
    /* background-color: lawngreen; */
}
.upload-track-button button{
    width: fit-content;
    border: none;
    border-radius: 3px;
    background-color: #FE5000;
    color: white;
    padding: 6px 5px;
    float: right;
}

.image-half{
    width: 260px;
    /* height: 100%; */
    /* box-sizing: content-box; */
    /* height: 100%; */
    /* background-color: royalblue; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    margin: 10px;
    align-items: center;
}


.img-upload-holder {
    font-size: 13px;
    margin-top: -45px;
    background-color: white;
    border-radius: 3px;;
    padding: 7px;
    text-align: center;
    position: relative;
    overflow: hidden;
    object-fit: cover;
}

.img-upload-holder h1 {}

.img-upload-holder input {
    background-color: teal;
    /* margin-top: -10px; */
    /* height: 200px;
    width: 200px; */
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    opacity: 0.001;   
}
.image-half img {
    width: 260px;
    height: 260px;
}



.success-page {
    background-color: white;
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.success-track {
    /* background-color: green; */
    height: 175px;
    width: 800px;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #f2f2f2;
    margin-top: -200px;
    box-shadow: 0 2px 12px -5px rgb(0 0 0 / 10%);
    display: flex;
    flex-direction: row;
}

.success-track img {
    width: 135px;
    /* height: 135px; */
}

.success-info {
    /* background-color: green; */
    padding: 5px 15px;
    display: flex;
    justify-content:space-between;
    flex-direction: column;
}

.success-text {
    /* background-color: greenyellow; */
}

.upload-complete  p {
    font-size: 14px;
    margin: 5px 0;
}