.likes-container {
    width: 100%;
}

.likes-inner {
    /* background-color: red; */
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 15px;
    justify-content: center;
}
