.profile-page {
    margin:45px 0;
    /* height: 1000px; */
    background-color: white;
}

.info-holder {
    width: 100%;
    height: 260px;
    background-image: linear-gradient(to right, rgb(255, 230, 0), #fe5000c7);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.profile-default {
    /* width: 400px; */
    height: inherit;
    width: inherit;
    border-radius: 50%;
    
}

.circle-holder {
    /* background-color: purple; */
    /* margin-left: 1%; */
    border-radius: 50%;
    width: 200px;
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.image-container {
    /* width: 250px; */
    padding: 0px 2% 0px 2.5%;
    /* background-color: pink; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.user-info{
    /* background-color: purple; */
    padding: 10px;
    /* width: 100%; */
    box-sizing: border-box;
}
.text{
    /* background-color: blue; */
    /* width: 500px; */
    height: 100%;
    /* float: left; */
    /* text-align: center; */
}

.text h1 {
    color: white;
    font-size: 24px;
    background-color: black;
    margin-top: 20px;
    padding: 10px 6px;
    /* position: absolute; */
    /* width: inherit; */
    box-sizing: border-box;
}

.recent-tracks {
    padding: 0px 30px;
    /* background-color: blue; */
    display: flex;
    width: 100%;
    box-sizing: border-box;
    /* justify-content: center; */
    flex-direction: column;
}

.recent-tracks h3 {
    padding-top: 25px;
    padding-bottom: 25px;
    /* background-color: red; */
    font-size: 24px;
}

.actual-tracks {
    /* background-color: green; */
}

.profile-track-item {
    /* height: 300px; */
    padding-bottom: 45px;
    width: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.profile-track-item img{
    width: 160px;
}

.track-info {
    /* background-color: pink; */
    font-size: 15px;
    width: 100%;
    padding: 5px 0px 0px 15px;
    /* font-size: 30px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.track-info-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: greenyellow; */
}

.track-info-circle{
    /* background-color: red; */
    height: 36px;
    width: 36px;
}
.profile-audio {
    width: 50%;
    /* margin-top: 120px; */
}

.profile-track-buttons {
    /* background-color: red; */
    position: relative;
    /* margin-bottom: 0; */
}

.track-options {
    cursor: pointer;
    /* height: 200px; */
    /* width: 100px; */
    font-size: 12px;
    background-color: #fff;
  border: 1px solid #ccc;
    position: absolute;
    top:5px;
    left: 75px;
}

.orange-track-btn {
    color: #333333;
  border: 1px solid #FE5000;
  color: #FE5000;
  margin-right: 5px;
  border-radius: 3px;
  font-size: 11px;
    padding: 1px 10px;
    font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}

.texttext {
    /* background-color: blue; */
    height: 45px;
    width: 100%;
    padding-left: 5px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    flex-direction: column;
}

.name-title{ 
    /* background-color: blue; */
    padding-top: 7px;
}

.profile-page-bottom {
    /* width: 100%; */
    /* height: 100%; */
    padding-right: 360px;
    box-sizing: border-box;
    /* background-color: pink; */
    display: flex;
    flex-direction: row;
    position: relative;
    /* justify-content: space-between; */
}

.text-right-side {
    width: 365px;
    height: 100%;
    margin-top: 15px;
    /* background-color: red; */
    position: absolute;
    right: 0;
}

.text-right-inner {
    /* background-color: royalblue; */
    padding: 0px 25px;
}


.profile-likes {
    /* background-color: salmon; */
    width: 100%;
    height: 220px;
    overflow: hidden;
}

.likes-item {
    /* background-color: slategray; */
    padding: 10px 0px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
}

.likes-item img {
    width: 50px;
}
.like-item-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 10px;
    font-size: 14px;
    color: #999999;
    /* background-color: pink; */
    /* color: #999 */
}

.like-item-info h2 {
    color: #333;
}

.like-item-info-span{
    /* background-color: springgreen; */
    width: 100%;
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    font-size: 11px;
}
.like-item-info-span p {
    margin-right: 10px;
}

.profile-comments-page {
    /* background-color: pink; */
    padding:46px 15px 0px 15px ;
    box-sizing: border-box;
    /* height: 500px; */
    width: 100%;
}

.profile-comments-top {
    height: 175px;
    /* background-color: powderblue; */
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-bottom: 1px solid #e5e5e5;
}

.user-items-link {
    /* background-color: blueviolet; */
    /* height: 50px; */
    margin-bottom: -1px;
    width: 170px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 18px;
}

.user-items-link * {
        padding-bottom: 15px;
    /* border-bottom: 1px solid blue; */
}

.hover-user-item{
    border-bottom: 1px solid transparent;

}

.hover-user-item:hover {
    color:#333333;
    border-bottom: 1px solid #333333;

}

.profile-comments-item {
    /* background-color: plum; */
    border-bottom: .5px solid #f2f2f2;

    width: 100%;
    height: 50px;
    padding: 10px 5px;
    box-sizing: border-box;
    /* margin-bottom: 5px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
}

.comment-body {
    font-size: 14px;
    margin-top: 5px;
}

.profile-navlinks {
    background-color: rebeccapurple;
    /* height: 25px; */
    padding: 10px 0px
}