.discoverpage {
    /* height: 1000px; */
    width: auto;
    /* padding-top: 100px; */
    background-color: white;
    display: flex;
    align-items: flex-start;
    padding: 0 10% 200px 10%;
  }
  .discover-page-item {
    width: 250px;
    margin-left: 10px;
    /* display: inline-block; */
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    text-align: center;
    text-overflow: ellipsis;

}

.discover-page-headers {
  font-size: 32px;
  margin-bottom: 35px;
}

.discover-page-item img {
    width: 90%;
}

.showing-songs {
  width: 100%;
  height: 300px;
  /* background-color: blue; */
  /* overflow: hidden; */
}

.inner-showing {
  /* width: 1500px; */
  height: inherit;
  /* background-color: yellow; */
  overflow: auto;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
}

.inner-showing span {
  /* width: 200px;
  height: 200px; */
  /* background-color: red; */
  /* margin-top: 40px; */
  /* margin-left: 10px;
  display: inline-block; */
  /* text-align: center; */
}

.playbutton{
  /* background-color:brown; */
  width: inherit;
  height: 20px;
  margin-bottom: 10px;
  opacity: 0.1;
  border:none;
}

.rows-of-music {
  /* background-color: red; */
  /* display: flex; */
  padding-top: 100px;
  width: 70%;
  /* flex-direction: column; */
  outline: none;
  float: left;
}

audio:focus {
  outline: none;
}

::-webkit-scrollbar {
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  /* height: 5px; */

}
 
/* Handle */
::-webkit-scrollbar-thumb {
  /* height: 5px; */

  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* height: 5px; */

  background: #555; 
}


.user-links{

  width: 250px;
  height: 100%;
  background-color: white;
  position: fixed;
  right: 400px;
  top:45px;
  display: flex;
  flex-direction: column;
  border-bottom: black;
  border-left: black;


}

.links-header {
  padding: 60px 0 10px 0;
}


.user-link {
  /* height: 30px; */
  /* width:75%; */
  /* display: flex;
  justify-content: space-around; */
  /* background-color:blue; */
  padding: 3px;
  border-bottom: 1px solid lightgray;

}


.circle-maker {
  /* background-color: purple; */
  border-radius: 50%;
  width: 35px;
  height: 35px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.icon-container {
  /* width: 30px; */
  margin-left: 5px;
  /* background-color: pink; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  overflow: hidden;
}

.icon-container h1 {
  margin-left: 10px;
}

.link {
  color:black;
  text-decoration: none;
}
