.playbar-div{
    border-top: 1px solid #cecece;

    background-color: #f2f2f2;
    color: black;
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
}

.playbar-inner {
    height: inherit;
    display: flex;
    justify-content: center;
    /* background-color: #FE5000; */
    width: 80%;
    min-width: 960px;
    max-width: 1240px;
}
/* .playbar-div audio {
    width: 700px;
} */

.play-bar-song-info{
    width: 300px;
    padding: 8px;
    box-sizing: border-box;
    /* background-color:pink; */
    display: flex;
    flex-direction: row;
}

.artist-song-links {
    /* background-color: red; */
    font-size: 11px;
    padding-left: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.artist-song-links > *:first-child {
    color: #999;
}

.media-controls {
    min-width: 200px;
    box-sizing: border-box;
    /* background-color: pink; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* cursor: pointer; */
}

.volume-control {
  background-color: #FE5000;
  padding: 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.media-controls >*, .volume-control >*{
    cursor: pointer;
}

.loop
{
    color: black;
    /* background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbD0iI2Y1MCIgZD0iTTEyIDhIOWE0IDQgMCAxIDAgMCA4aDZhNCA0IDAgMCAwIDIuMTA0LTcuNDAzbDEuNzctMS4xOC4wMi4wMThBNiA2IDAgMCAxIDE1IDE4SDlBNiA2IDAgMSAxIDkgNmgzVjRsNCAzLTQgM1Y4eiIvPjwvc3ZnPgo=); */
}

.orange-loop
{
    color: #FE5000;
 
    /* background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbD0iI2Y1MCIgZD0iTTEyIDhIOWE0IDQgMCAxIDAgMCA4aDZhNCA0IDAgMCAwIDIuMTA0LTcuNDAzbDEuNzctMS4xOC4wMi4wMThBNiA2IDAgMCAxIDE1IDE4SDlBNiA2IDAgMSAxIDkgNmgzVjRsNCAzLTQgM1Y4eiIvPjwvc3ZnPgo=); */
}

.time-bar {
    /* background-color: lightcoral; */
    width: 80%;
    max-width: 740px;
    min-width: 100px;
    padding: 0px 20px;
    box-sizing: border-box;
    font-size: 12px;
    display: flex;
    align-items: center;
}
.time-bar p {
    margin: 0px 10px;
}

.time-slider {
    width: 100%;
    /* background-color: orange; */
}


input[type=range] {
  height: 17px;
  -webkit-appearance: none;
  background-color: #f2f2f2;

  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #FE5000;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #E3E1E1;
  height: 11px;
  width: 1px;
  border-radius: 0px;
  background: #FE5000;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  /* background: #FE5000; */
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #FE5000;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #E3E1E1;
  height: 11px;
  width: 1px;
  border-radius: 0px;
  background: green;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: purple;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: purple;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #E3E1E1;
  height: 11px;
  width: 1px;
  border-radius: 0px;
  background: green;
  cursor: pointer;
}
/* input[type=range]:focus::-ms-fill-lower {
  background: #FE5000;
}
input[type=range]:focus::-ms-fill-upper {
  background: #FE5000;
} */