.show-full-page{
    padding: 45px 0px;
    background-color: white;
    /* height: 600px; */
}
.track-show {
    /* background-color: #f2f2f2; */
    /* background-color: #000000; */
background-image: linear-gradient(-147deg, #000000 0%, #04619f 74%);
    height:380px;
    display: flex;
    /* justify-content: space-between; */
    /* border: 1px solid lightgray; */
    padding: 20px;
    box-sizing: border-box;
}

.track-show-circle-maker  {
    /* background-color: purple; */
    /* margin-left: 1%; */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.info-playbar{
    width: 100%;
    /* background-color: purple; */
    display: flex;
    padding-right: 20px;
    /* justify-content: space-around; */
    flex-direction: column;
    /* align-items: center; */
}

.info-text {
    /* background-color: royalblue; */
    /* height: 50%; */
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info-text .song-info {
    /* background-color: red; */
    width: 100%;
    padding-left: 10px;
    /* height: 50px; */
    display: flex;
    flex-direction: column;
}

.song-info > *:first-child{
    color: #999;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
    font-size: 16px;
}

.song-info-time {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-bottom: 6px;
}

.track-title {
    background-color: black;
    color: white;
    width: fit-content;
    padding: 4px 7px;
}

.track-show-circle-container {
    /* background-color: purple; */
    width: 60px;
    height: 60px;
}

.audio-player-holder {
    background-color: #f2f2f2;
    /* height: 50%; */
    width: 100%;
    /* margin-bottom: 25px; */
    box-sizing: border-box;
    margin-top: 200px;
}

audio{
    width: 75%;
}


.show-image{
    height: 100%;
    /* width: 350px; */
    /* background-color: pink; */
    display: flex;
    justify-content: center;
    align-items: center;


}

.show-image img {
    /* opacity: .1; */
    height: 100%;
    width: inherit; 

}

