/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
  font: inherit;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

button{
  cursor: pointer;
}
body {
  line-height: 1;
  background-color: #f2f2f2;
  width: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

 .modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: hsla(0,0%,94.9%,.9);
    z-index: 10;
  }


  .modal-child {
      /* background-color: white; */
      text-align: center;
      width: 450px;
      height: 500px;
      display: flex;
      justify-content: space-around;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


  .form-container {
    height: 100%;
  margin: auto;
  background-color: white;
  padding: 15px;
  text-align: left;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-inputs {
  outline: none;
  padding: 0px 7px;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  margin: 5px 0px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 18px;
}
.form {
  /* background-color: peru; */
  /* width: 390px;
  height: 80%; */
}

.form p {
  /* background-color: pink; */
  padding-top: 20px;
  /* font-size: 10px; */
}

.session-form-header {
  /* background-color: pink; */
  height: 50px;
  text-align: center;
}

.session-form-header h1 {
  font-size: 20px;
}
.form-container button{
  font-size: 16px;
  padding: 10px 0;
  width: 100%;
  margin-top: 5px;
  border-radius: 3px;
  border: none;
  background-color: #FE5000;
  color: lightcyan;
}

.login-form-box {
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  width: 100%
  /* align-items: center; */
}

.login-form-box h1 {
  /* background-color: pink; */
  font-size: 32px;
  text-align: center;
  margin-bottom: 30px;
}

/* ####################################splashpage buttons */

 .splashpage-button1, .splashpage-button2 {
  font-size:14px;

  border-radius: 3px;
  border: none;
  background-color: #FE5000;
  color: lightcyan;
  margin-right: 10px;
  padding: 5px 15px;
  /* bottom:0; */
  font-family:Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;

 }

 .splashpage-button1{
   color: black;
   background-color: transparent;
   border: 1px solid black;
 }
.splashpage-buttons {
    /* background: black; */
    display: flex;
    /* justify-content: space-between; */
    /* height: 50px; */
    /* bottom: 0; */
    margin-right: 20px;
  }
  
  .logo{
    /* padding: 10px; */
      color: white;
      margin-left: 20px;
      font-size: 25px;
      font-weight: bold;
  
  }


 /* .loggedin-user {
   background-color: red;
   height: 20px;
   display: flex;
   justify-content: space-between;
   width: 50%;
 } */

.splash-page {
  width: 100%;
  /* background-color: red; */
  height: 1000px;
}

.loggedin-nav{
  position: fixed;
  background-color: #333333;
  width:100%;
  display: flex;
  justify-content: center;
  z-index: 1;
  /* padding-top: 15px; */
  height: 45px;
}

.nav-search {
  display: inline-block;
  padding: 7px 7px 0 7px;
  /* min-width: 100px; */
  width: 40%;
  /* background-color: purple; */
}

.minisearch {
  width: 97%;
  /* height: 10px;
  padding: 7px 15px; */
  padding: 7px 5px;
  font-size: 13px;
  background-color: #f2f2f2;
  border-radius: 4px;
  border: none;
}
.loggedin-user h1 {
  /* margin-top: -50px; */
  /* height: 15px; */
  display: inline-block;
  color: lightgray;
  font-size: 14px;
  width: 90px;
  /* background-color: red; */
  text-align: center;
  margin: 0px;
  padding: 15px 10px;
  border-right: 1px solid black;
}

.loggedin-user .fixedh1, .username{
  background-color: transparent;
  width: 60px;
  border: none;
  text-overflow: ellipsis;

}

.username {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.loggedin-user .logo {
  width: 60px;
  background-color: #FE5000;
  /* padding-top: 10px; */
  /* font-size: 25px; */
}

.text-link {
  color:white;
  text-decoration: none;
}

.loggedin-user{
  width: 80%;
  min-width: 950px;
  max-width: 1250px;
    display:flex;
    justify-content: space-between;
    /* display: inline; */
}

.nav-bar {
  width: 80%;
  min-width: 950px;
  max-width: 1250px;
  position: absolute;
  height: 30px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  border-top: 5px solid #FE5000;
}



.image-carousel {
  background-color: lemonchiffon;
  height: 450px;
  width: 100%;

}

.carouselpic {
  width: 100%; 
  height:inherit; 
  object-fit: cover;

}

.app {
  display: flex;
  justify-content: center;
}

.innerapp {
  width: 80%;
  min-width: 950px;
  max-width: 1250px;
  /* padding: 45px; */
  /* position: relative; */
}



.searchbar-container {
    /* margin: 0 10px; */
    width: 100%;
    background-color: white;
    /* text-align: center; */
    padding: 50px 0;
    display: flex;
    justify-content: space-around;
}

.innersearchcontainer {
  /* background-color: darkcyan; */
  width: 825px;
  height: 40px;
     display: flex;
    justify-content: space-between;
}
.search-bar {
  width: 100%;
  height: 30px;
  padding: 7px 15px;
  font-size: 13px;
  background-color: #f2f2f2;
  border-radius: 3px;
  border: none;
}

.search-bar::placeholder {
  font-size: 16px;
  opacity: 0.7;
  font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}

.search-first{
  width: 70%;
  font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;

  /* background-color: blue; */
}

.or-upload {
  width: 25%;
  /* background-color: blueviolet; */
  display: flex;
  justify-content: space-around;
}

.or-upload p {
  padding-top: 15px;
}

.splashpage-bottom {
  /* background-color: teal; */
  height:325px;
}

.first-row {
  /* background-color: #f2f2f2; */
  /* background-color: red; */
  padding-top: 50px;
  max-height: 400px;
  display: flex;
  justify-content: space-around;
  /* position: relative; */
}

.firstrow-img {
  /* padding-top: 30px; */
  width: 80%;
  margin-left: 50px;
  /* background-color: blue; */
}

.firstrow-img img {
  width: 100%;
}
.firstrow-text {
  /* background-color: khaki; */
  padding: 40px 0 0 40px;
  width: 500px;
  /* display: flex;
  flex-direction: column; */
  /* box-sizing: border-box; */
}

.firstrow-text h1 {
  font-size: 32px;
  /* background-color: red; */
}


.firstrow-text h1::after {
  content: "";
  display:block;
  width: 70px;
  height: 3px;
  background-image: linear-gradient(90deg,#7d01a1,#f30 50%,#f50);
  margin-top: 15px;

}

.firstrow-text p {
  font-size: 20px;
  padding: 10px 0;
  /* background-color: blue; */
  width: 80%;
}

.second-row {
  color: white;
  /* height: 350px; */
  width: 100%;
  /* background-image: url(https://a-v2.sndcdn.com/assets/images/hp_creator_image-f3d92e09.jpg); */
}

/* .image-carousel {
  background-color: lemonchiffon;
  height: 450px;
  width: 100%;
} */

.callingcreators {
  width: 100%; 
  height:350px; 
  object-fit: cover;
}

.last-row {
  height: 550px;
  width: 100%;
  /* text-align: center; */
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.bottom-info {
  width: 700px;
  height: 300px;
  /* background-color: red; */
  /* display:table-cell;
  vertical-align:middle; */
  text-align: center;
  /* display: flex;
  justify-content: space-around;  */
}
.bottom-info h1{
    font-size: 36px;
}
.bottom-info h2{
  font-size: 24px;
}

.orangebutton {
  padding: 22px 17px;
  /* margin:0em; */
  font-size:15px;
  font-weight: 100;
  line-height: 2px;
  /* width: 100%; */
  border-radius: 3px;
  border: none;
  background-color: #FE5000;
  color: lightcyan;
  font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  /* text-align: center; */
  /* text-indent: 0px; */
  /* font: 400 13.3333px Arial; */
  /* font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;; */
}

.logopic {
  height: 99%;
  background-color: #FE5000;
  padding: 0 15px;
}