/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
  font: inherit;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

button{
  cursor: pointer;
}
body {
  line-height: 1;
  background-color: #f2f2f2;
  width: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

 .modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: hsla(0,0%,94.9%,.9);
    z-index: 10;
  }


  .modal-child {
      /* background-color: white; */
      text-align: center;
      width: 450px;
      height: 500px;
      display: flex;
      justify-content: space-around;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .demo-user-login {
    background-color: cornflowerblue;
  }

  .form-container {
    height: 100%;
  margin: auto;
  background-color: white;
  padding: 15px;
  text-align: left;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-inputs {
  outline: none;
  padding: 0px 7px;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  margin: 5px 0px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 18px;
}
.red-form-inputs {
  outline: none;
  padding: 0px 7px;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  margin: 5px 0px;
  border-radius: 5px;
  border: 1px solid red;
  font-size: 18px;
}

.form p {
  /* background-color: pink; */
  padding: 10px 0px;
  font-size: 12px;
}

.form-container span {
  color: red;
  font-size: 12px;
  margin: 5px 0px;
  /* border: 1px solid red; */
}

.session-form-header {
  /* background-color: pink; */
  height: 50px;
  text-align: center;
}

.session-form-header h1 {
  font-size: 32px;
}
.form-container button{
  font-size: 16px;
  padding: 10px 0;
  width: 100%;
  margin-top: 5px;
  border-radius: 3px;
  border: none;
  background-color: #FE5000;
  color: lightcyan;
}

.form-container label {
  font-size: 14px;
}

.login-form-box {
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  width: 100%
  /* align-items: center; */
}

.login-form-box h1 {
  /* background-color: pink; */
  font-size: 32px;
  text-align: center;
  margin-bottom: 30px;
}

/* ####################################splashpage buttons */

 .splashpage-button1, .splashpage-button2 {
  font-size:14px;

  border-radius: 3px;
  border: none;
  background-color: #FE5000;
  color: lightcyan;
  margin-right: 10px;
  padding: 5px 15px;
  /* bottom:0; */
  font-family:Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;

 }

 .splashpage-button1{
   color: #fff;
   background-color: transparent;
   border: 1px solid #ccc;
 }
.splashpage-buttons {
    /* background: black; */
    display: flex;
    /* justify-content: space-between; */
    /* height: 50px; */
    /* bottom: 0; */
    margin-right: 20px;
  }
  
  .logo{
    /* padding: 10px; */
      color: white;
      margin-left: 20px;
      font-size: 25px;
      font-weight: bold;
  
  }

.splash-page {
  width: 100%;
  height: 1000px;
}


.logopic-div{
  height: 100%;
  background-color: #FE5000;
  width: 69px;
  text-align: center;
}

.logopic-div img {
  /* background-color: blue; */
  height: 100%;
}

.loggedin-nav{
  position: fixed;
  color: lightgrey;
  background-color: #333333;
  width:100%;
  display: flex;
  justify-content: center;
  z-index: 1;
  /* padding-top: 15px; */
  height: 46px;
}


.loggedin-user{
/* background-color: black; */
  width: 80%;
  min-width: 960px;
  max-width: 1240px;
    display:flex;
    flex-direction: row;
    /* display: inline; */
}

.logged-in-left-side {
  /* background-color: red; */
  display: flex;
  flex-direction: row;
}

.logged-in-right-side {
  /* min-width: 355px; */
  /* margin-left: -10px; */
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
}

.logged-in-right-side > h2 {
  /* background-color: pink; */
  width: 60px;
}

.nav-search {
  /* display: inline-block; */
  padding: 0px 7px;
  /* min-width: 100px; */
  width: 40%;
  /* background-color: purple; */
  display: flex;
  flex-direction: row;
  align-items: center;
}

.minisearch {
  outline: none;

  width: 86.5%;
  margin-left: 3px;
  /* height: 10px;
  padding: 7px 15px; */
  padding: 6.5px 6px;
  font-size: 13px;
  background-color: #f2f2f2;
  border-radius: 4px;
  border: none;
  
}

.search-icon {
  /* width: 50px; */
  padding: 6.5px 10.5px;
  font-size: 14px;
  background-color: #f2f2f2;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  margin-left: -5px;
  color: black;
  border:none;
}

.loggedin-user h1 {
  color: lightgray;
  font-size: 14px;
  width: 90px;
  text-align: center;
  margin: 0px;
  padding: 15px 6.5px;
  border-right: 1px solid black;
}

/* .loggedin-user .fixedh1, .username{
  background-color: transparent;
  width: 60px;
  border: none;
  text-overflow: ellipsis;

} */

.navbar-buttons {
  cursor: pointer;
  /* background-color: blueviolet; */
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
  width: 125px;
  /* width: 100%; */
  height: 100%;
  font-size: 16px;
  position: relative;

}


.options-drop-down {
  padding: 14px 15px;
  /* background-color: brown; */
}

.options-drop-down:focus {
  background-color: black;
  outline: none;
}

.username {
  cursor: pointer;
    min-width: 50px;
    height: 46px;
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* overflow: hidden; */
    padding: 0px 10px;
    position: relative;
}

.username:focus {
  background-color: black;
  outline: none;
}

.username-circle-maker {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.username-drop-down {
  text-decoration: none;
  /* background-color: brown; */
  font-size: 12px;
  /* height: 300px; */
  width: 120px;
  position: absolute;
  left: 0;
  top:0;
  margin-top: 46px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}

.op-drop-down {
  text-decoration: none;
  /* background-color: brown; */
  font-size: 12px;
  /* height: 300px; */
  width: 120px;
  position: absolute;
  right: -15px;
  top:0;
  margin-top: 46px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}
.drop-down-option {
  /* background-color: blueviolet; */
  width: 100%;
  height: 32px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: black;
  /* align-items: center; */
}

.drop-down-option:hover {
  background-color: #f2f2f2;
}

.drop-down-option i {
  /* background-color: brown; */
  width: 20px;
}

.text-link {
  color:white;
  text-decoration: none;
  /* width: fit-content; */
}

.nav-bar {
  z-index: 1;
  width: 80%;
  min-width: 960px;
  max-width: 1240px;
  position: absolute;
  height: 30px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  border-top: 5px solid #FE5000;
}

.image-carousel {
  background-color: lemonchiffon;
  height: 450px;
  width: 100%;
  position: relative;
}

.carousel-text {
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  text-align: center;
  height: 100px;
  /* background-color: pink; */
  position: absolute;
  top:150px;
  /* left: 20%;
  right:20%; */
  font-size: 18px;
  color: white;
}

.carousel-text h1 {
  font-size: 36px;
}

.shadow {
  /* background-color: teal; */
  text-shadow: 0px 0px 20px black;
  width:fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.carouselpic {
  width: 100%; 
  height:inherit; 
  object-fit: cover;

}

.app {
  width: 100%;
  /* background-color: greenyellow; */
  display: flex;
  justify-content: center;
  /* align-items: flex-start; */
  /* overflow: auto; */

}

.innerapp {
  width: 80%;
  /* background-color: hotpink; */
  min-width: 960px;
  max-width: 1240px;
  /* height: 100vh; */
  /* display: flex; */
  /* flex-direction: row; */
  /* padding: 45px; */
  /* width: 100%; */
  background-color: white;
  /* text-align: center; */
  /* padding: 50px 0; */
}
  /* display: flex; */
  /* justify-content: space-around;



/* margin: 0 10px; */
.searchbar-container {
    width: 100%;
    background-color: white;
    /* text-align: center; */
    padding: 50px 0;
    display: flex;
    justify-content: space-around;
}

.innersearchcontainer {
  /* background-color: darkcyan; */
  width: 825px;
  height: 40px;
     display: flex;
    justify-content: space-between;
}
.search-bar {
  width: 100%;
  height: 30px;
  padding: 7px 15px;
  font-size: 13px;
  background-color: #f2f2f2;
  border-radius: 3px;
  border: none;
}

.search-bar::placeholder {
  font-size: 16px;
  opacity: 0.7;
  font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}

.search-first{
  width: 70%;
  font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;

  /* background-color: blue; */
}

.or-upload {
  width: 25%;
  /* background-color: blueviolet; */
  display: flex;
  justify-content: space-around;
}

.or-upload p {
  padding-top: 15px;
}

.splashpage-bottom {
  /* background-color: teal; */
  /* height:1230px; */
  display: flex;
  flex-direction: column;
}

.first-row {
  background-color: #f2f2f2;
  /* background-color: red; */
  padding-top: 50px;
  max-height: 400px;
  display: flex;
  justify-content: space-around;
  /* position: relative; */
}

.firstrow-img {
  /* padding-top: 30px; */
  width: 80%;
  margin-left: 50px;
  /* background-color: blue; */
}

.firstrow-img img {
  width: 100%;
}
.firstrow-text {
  /* background-color: khaki; */
  padding: 40px 0 0 40px;
  width: 500px;
  /* display: flex;
  flex-direction: column; */
  /* box-sizing: border-box; */
}

.firstrow-text h1 {
  font-size: 32px;
  /* background-color: red; */
}


.firstrow-text h1::after {
  content: "";
  display:block;
  width: 70px;
  height: 3px;
  background-image: linear-gradient(90deg,#7d01a1,#f30 50%,#f50);
  margin-top: 15px;

}

.firstrow-text p {
  font-size: 20px;
  padding: 10px 0;
  /* background-color: blue; */
  width: 80%;
}

.second-row {
  position: relative;
  color: white;
  /* height: 350px; */
  width: 100%;
  /* background-image: url("https://a-v2.sndcdn.com/assets/images/hp_creator_image-f3d92e09.jpg"); */
}

.second-row-text {
  /* background-color: pink; */
  position: absolute;
  width: 550px;
  height: 150px;
  top: 20%;
  left:5%;
  font-size: 36px;
}

.second-row-text p {
  margin: 20px 0px 35px 0px;
  font-size: 24px;
  
  /* font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif; */
}

.second-row-text button {

  font-size:18px;

  border-radius: 3px;
  border: none;
  background-color: transparent;
  border: 1px solid lightcyan;
  color: lightcyan;
  margin-right: 10px;
  padding: 10px 20px;
  /* bottom:0; */
  font-family:Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;

}


.callingcreators {
  width: 100%; 
  height:350px; 
  object-fit: cover;
}

.last-row {
  /* height: 540px; */
  /* width: 100%; */
  box-sizing: border-box;
  /* text-align: center; */
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* justify-content: space-around; */
  
}
.bottom-info {
  /* width: 700px;
  height: 300px; */
  font-weight: lighter;
  height: 375px;
  /* background-color: red; */
  text-align: center;
  display: flex;
  align-items: center;
  /* justify-content: space-around;  */
}
.bottom-info h1{
  font-size: 36px;
}
.bottom-info h2{
  font-size: 24px;
}

.bottom-info .orangebutton{
  width: 200px;
  font-size: 16px;
}

.have-account{
  /* background-color: teal; */
  margin-top: 15px;
  width: 100%;
  height: 50px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.have-account button {
  margin: 15px;
  font-size:15px;

  border-radius: 3px;
  border: none;
  background-color: transparent;
  border: 1px solid #e5e5e5;
  color: black;
  margin-right: 10px;
  padding: 10px 20px;
  /* bottom:0; */
  font-family:Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}

.footer {
  /* margin: 0px 15px; */
  border-top: 1px solid #f2f2f2;
  background-color: white;
  height: 160px ;
  padding: 20px 0px;
  width: 95%;
  box-sizing: border-box;
  font-size: 13px;
  color: #CCCCCC;
}

.footer span {
  width: 185px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 15px;
}


a {
  text-decoration: none;
  color:inherit
}

a:hover {
  color:#999;
}

.last-footer-link {
  color: #38d;
}
.last-footer-link:hover{
  color: #333;
}

.orangebutton {
  padding: 10px 17px;
  font-size:15px;
  font-weight: 100;
  /* line-height: 2px; */
  /* width: 100%; */
  border-radius: 3px;
  border: none;
  background-color: #FE5000;
  color: lightcyan;
  font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}


.track-buttons {
  color: #333333;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  margin-right: 5px;
  border-radius: 3px;
  font-size: 11px;
    padding: 1px 10px;
    font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}

.liked-button {
  color: #FE5000;
  border: 1px solid #FE5000;
  background-color: #fff;
  margin-right: 5px;
  border-radius: 3px;
  font-size: 11px;
    padding: 3px 8px;
    font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}

.liked-heart {
  color: #FE5000;
}

.link-hover:hover {
  color: lightgrey;
}

button{
  outline: none;
}

@media screen and (max-width: 1205px){

  .second-row-text {
      width: 350px;
  }
  .second-row-text h1 {
    font-size: 24px;
  }

  .second-row-text p {
    font-size: 18px;
  }

  .cut-off-username {
    display: none;
  }

}

.empty-message {
  /* background-color: green; */
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cut-off-username {
     /* background-color: green; */
    /* max-width: 38px; */
    margin: 0px 5px;
    /* width: 37%; */
    text-overflow: ellipsis;
    overflow: hidden;
}